@media screen and (max-width: 768px) {
  .marquee_s {
    width: 12% !important;
  }
  .marquee_b {
    width: 70% !important;
  }
}
.marquee_s {
  width: 5%;
}
.marquee_b {
  width: 90%;
}

/* uk-------------------- */
.uk-tab > .uk-active > a {
  /* color: #333; */
  border-color: transparent;
}

.uk-open > .uk-accordion-title::before {
  background-image: url("../img/手機index_img/arrowDownList/collapsibleIconLight.svg");
  order: 0;
}

.uk-accordion-title::before {
  content: "";
  width: 1.4em;
  height: 1.4em;
  margin-left: 10px;
  float: right;
  color: #fff !important;
  background-image: url("../img/手機index_img/arrowDownList/collapsibleIcon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* 啟動背景 */
.uk-accordion-title:focus,
.uk-accordion-title:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: linear-gradient(180deg, #81dcff 0%, #4da8ff 100%);
}

/* 未啟動背景 */
.uk-accordion-title {
  display: block;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #333;
  overflow: hidden;
  background-color: #f0f7ff;
  border: 2px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

/* switch 調整 */
.uk-subnav-pill > .uk-active > a {
  background-color: transparent !important;
  color: #fff;
}
/* uk END-------------------- */

.font_b {
  font-weight: 900;
}

.fsz09 {
  font-size: 0.9rem;
}

.CardBgMd {
  align-items: center;
  background: url(../img/手機index_img/CardBgMd.jpg) no-repeat 50%;
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: space-between;
  margin: 12px 0 17px;
  text-align: justify;
  line-height: 1.5rem;
}

.CardBgMd-txt {
  align-items: center;
  border: 2px solid #fff;
  border-radius: 8px;
  background: linear-gradient(180deg, #edf6ff, #fff 53.65%, #f0f7ff);
  display: flex;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: space-between;
  margin: 12px 0 17px;
  text-align: justify;
  line-height: 1.5rem;
}

.CardBgMdDown {
  align-items: center;
  background: url(../img/手機index_img/CardBgMd.jpg) no-repeat 50%;
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  filter: drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.15));
  justify-content: space-between;
  margin: 12px 0 17px;
  text-align: justify;
  line-height: 1.5rem;
}

.noFilter {
  -webkit-filter: none !important;
  filter: none !important;
}
.backgroundTop {
  background: top !important;
}

.button_index_Md {
  background: url(../img/手機index_img/arrowDownList/button.png) no-repeat;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  border-radius: 25px;
}

.tableTittle {
  background: linear-gradient(180deg, #81dcff 0%, #4da8ff 100%);
  border-radius: 8px;
}
.tableTittleItem {
  background-color: #f0f7ff;
  border: 2px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.cardTittleTop {
  background: linear-gradient(180deg, #81dcff 0%, #4da8ff 100%);
  border-radius: 8px 8px 0px 0px;
}
.cardTittleDown {
  background: linear-gradient(180deg, #81dcff 0%, #4da8ff 100%);
  border-radius: 0px 0px 8px 8px;
}
.fsz-12 {
  font-size: 1.2rem;
}

#drw .dropdown-toggle::after {
  display: none !important;
}

#breadcrumb1 .breadcrumb-item + .breadcrumb-item::before {
  color: #858a9a;
  content: "|";
}

#breadcrumb1 .uk-link,
a {
  color: #858a9a;
}
.txt_secondary {
  color: #858a9a;
}

.Button_active {
  background: url(../img/手機index_img/CardBgMd.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
  box-shadow: none;
  color: #fff;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pointer {
  cursor: pointer;
}

.marquee_bg {
  background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
}

.line_theme_v {
  width: 3px;
  height: 20px;
  background: #365a97;
}

.green_txt {
  color: #2abf6f;
}

.w-85 {
  width: 85%;
}
